<!DOCTYPE html>
<html>

<head>
    <title>Mini blog 文章找不到啦 | 入职啦(Ruzhila.cn)</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="icon" type="image/svg+xml" href="../static/imgs/banner.svg" />
    <script src="/static/tailwind-3.3.2.js"></script>
    <link rel="stylesheet" href="/static/cloudflare.min.css">
</head>

<body>
    <header class="bg-[#0E1729]">
        <div class="py-3 flex justify-between items-center px-6 gap-x-5 text-white max-w-5xl mx-auto">
            <p class="flex items-center space-x-3">
                <a href="/">Mini blog</a>
                <span class="h-4 border-l border-white "></span>
                <a href="https://ruzhila.cn/?from=mini-blog">入职啦(Ruzhila.cn)</a>
            </p>
            <img src="https://ruzhila.cn/_nuxt/user.DdU1MqfC.jpg" alt="头像" class="w-9 h-9 rounded-full">
        </div>
    </header>
    <main class="min-h-[calc(100vh-8rem)] flex flex-col items-center justify-center">

        <h1>404 啦</h1>
        <p>抱歉找不到这篇文章啦</p>
        <a href="#" onclick="history.back()">
            <button class="px-4 py-2 bg-gray-900 text-white rounded-md mt-8">回去看看其他内容</button></a>
    </main>
    <footer class="border-t py-5 border-gray-500 bg-[#0E1729]">
        <div class="flex items-center gap-x-6 max-w-5xl mx-auto  px-6 text-white">
            <a href="https://ruzhila.cn/?from=mini-blog">入职啦(Ruzhila.cn)</a>
        </div>
    </footer>
</body>
</html>